# Ignorar dependências e arquivos pesados
node_modules/
__pycache__/
*.dat

node_modules/
*.dat
node_modules/
*.dat
*.zip
*.exe
*.mp4
*.framework
backend/registros.csv
backend/atrasos.csv
backend/config.json
backend/logs/
backend/rostos_nao_cadastrados/
backend/registros/
